<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airensoft.aviplayer.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.airensoft.aviplayer.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.airensoft.aviplayer.app.BitmapPlayerActivity"
            android:label="@string/title_activity_bitmap_player">
        </activity>

        <activity
            android:name="com.airensoft.aviplayer.app.OpenGLPlayerActivity"
            android:label="@string/title_activity_open_gl_player">
        </activity>

    </application>

</manifest>
